ul, li {
  list-style: none;
}

nav {

}

.menu {
  background-color: #f1f1f1;
  overflow: hidden;
}

.menu-item {
  border: 1px solid #ddd;
  float: left;
  margin: 0 30px;
  padding: 14px 20px;
}

.menu-item i {
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
}

.menu-text {
  display: inline-block;
}

.menu-text h4, .menu-text p {
  margin: 0;
}

.menu-text p {
  font-size: 14px;
}
