.box {
  background: #fff;
  padding: 20px;
  margin: 10px;

  img {
    float: left;
    margin: 0 10px 0 0;
  }
}

.main-content,
.sidebar {
  margin: 10px;
  background: #eee;
  padding: 6px;
}

.container {
  display: flex;
}

.main-content {
  flex: 3;
}

.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h3 {
    font-size: 14px;
    margin: 0;
  }

  p {
    font-size: 12px;
    margin: 0;
  }
}
